#eclipse specific git ignore
.metadata/
RemoteSystemsTempFiles/
.settings/
[Dd]ebug/
[Rr]elease/
[Tt]est/
*.launch
.vscode/

#STM32 git ignore
*.mxproject


# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug files
*.dSYM/
*.su
*.idb
*.pdb